@model AuthSystem.Models.DistintaBase

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare questa distinta base?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticoloPadre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArticoloPadre.CodiceArticolo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ArticoloFiglio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ArticoloFiglio.CodiceArticolo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantità)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantità)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdDistintaBase" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Torna alla lista</a>
    </form>
</div>
