@model IEnumerable<AuthSystem.Models.DistintaBase>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Articoli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistintaBasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantità)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Articoli.CodiceArticolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistintaBasi.CodiceArticolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantità)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDistintaBase">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDistintaBase">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDistintaBase">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
