@model IEnumerable<AuthSystem.Models.Odl>

@{
    ViewData["Title"] = "Index";
}
<h1>Ordine di lavoro</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantitaDaProdurre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInizio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articoli)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CentriDiLavoro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stato)
            </th>
            <th><a asp-action="Create" class="btn btn-outline-success "><i class="far fa-plus-square"></i>Ordine di lavoro</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuantitaDaProdurre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInizio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articoli.CodiceArticolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CentriDiLavoro.CodiceCentroDiLavoro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stato)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodiceOdl "><i class="fa fa-marker fa-lg"></i></a> |

                <a asp-action="Delete" asp-route-id="@item.CodiceOdl " class="text-danger ml-1"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
