@model AuthSystem.Models.OdlFaseVersamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OdlFaseVersamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PezziBuoni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PezziBuoni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PezziDifettosi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PezziDifettosi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempoEffetivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempoEffetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fasi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fasi.IdFaseOdl)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ODl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ODl.IdFaseOdl)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVersamento" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
