@model AuthSystem.Models.OdlFaseVersamento

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina</h1>

<h3>Sei sicuro di voler eliminare questo versamento?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PezziBuoni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PezziBuoni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PezziDifettosi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PezziDifettosi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempoEffetivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempoEffetivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fasi.Fase)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fasi.Fase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fasi.CodiceOdl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fasi.CodiceOdl)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdVersamento" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Torna alla lista</a>
    </form>
</div>
