@model AuthSystem.Models.OdlFaseVersamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OdlFaseVersamento</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PezziBuoni)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PezziBuoni)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PezziDifettosi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PezziDifettosi)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TempoEffetivo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TempoEffetivo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fasi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fasi.Fase)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fasi)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fasi.CodiceOdl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdVersamento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
