@model IEnumerable<AuthSystem.Models.OdlFase>

@{
    ViewData["Title"] = "Index";
}

<h1>Fase dell'ordine di lavoro</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Odls)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descrizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MacchineFisiche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempoStandard)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stato)
            </th>
            <th><a asp-action="Create" class="btn btn-outline-success "><i class="far fa-plus-square"></i>Fase</a></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Odls.CodiceOdl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fase)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MacchineFisiche.CodiceMacchinaFisica)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoStandard)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stato)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdFaseOdl "><i class="fa fa-marker fa-lg"></i></a> |

                <a asp-action="Delete" asp-route-id="@item.IdFaseOdl " class="text-danger ml-1"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
